.vscode/settings.json
uni_connect.bat
*.pyc
*.aux
*.gz
*.toc
report/report.log
report/report.out
report/report-blx.bib
*.bbl
*.bcf
*.blg
report/report.run.xml
report/texput.log
*.fdb_latexmk
report/report.fls
*.png
